<div class="animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Agentes
            <button class="btn btn-sm btn-primary float-end" (click)="addAgent()">Nuevo</button>
          </h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let u of agents">
            {{ u.name + ' ' + u.lastname}}

            <button class="btn btn-sm btn-danger ms-2 float-end" (click)="deleteAgent(u)">
                <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-sm btn-light float-end" (click)="editAgent(u)">
                <i class="fa fa-edit"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" bsModal #modalAgent="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="modal-dialog" role="document" #agentForm="ngForm" (ngSubmit)="save()">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{(isEdit?'Editar agente':'Agregar agente')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalAgent.hide()">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-lg-4">
                <input class="form-control" [ngClass]="{'is-invalid':!existUser && !isEdit}" placeholder="Usuario" name="user" [readonly]="isEdit" [(ngModel)]="agent.username" #username="ngModel" (ngModelChange)="onExistUser()" required>
              </div>
              <div class="col-lg-4">
                <input class="form-control" placeholder="Iniciales" name="initials" [(ngModel)]="agent.initials" #initials="ngModel" required>
              </div>
              <div class="col-lg-4" *ngIf="!isEdit">
                  <label class="text-danger" *ngIf="!existUser">El usuario existente</label>
                  <label class="text-success" *ngIf="existUser">Usuario disponible</label>
              </div>
          </div>
          <div class="row mt-1">
            <div class="col-lg-4">
              <input class="form-control" placeholder="Nombre(s)" name="name" [(ngModel)]="agent.name" #name="ngModel" required>
            </div>
            <div class="col-lg-4">
              <input class="form-control" placeholder="Paterno" name="lastname" [(ngModel)]="agent.lastname" #lastname="ngModel" required>
            </div>
            <div class="col-lg-4">
              <input class="form-control" placeholder="Materno" name="motherlastname" [(ngModel)]="agent.motherlastname" #motherlastname="ngModel">
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalAgent.hide()">Cerrar</button>
          <button type="submit" class="btn btn-primary" [disabled]="agentForm.invalid">Guardar</button>
      </div>
      </div>
  </form>
</div>
