<div class="bg-light min-vh-100 d-flex flex-row align-items-center app-body">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm  [formGroup]="formUser" (submit)="login()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <i class="fa-solid fa-user"></i>
                  </span>
                  <input autoComplete="username" cFormControl  formControlName="username" placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <i class="fa-solid fa-lock"></i>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    formControlName="password"
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button type="submit" cButton class="px-4" color="primary" >
                      <i *ngIf="isBusy" class="fa fa-spinner fa-pulse fa-fw"></i>
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white card-img bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <img src="../../../assets/img/see-no-evil-monkey-383.png" />
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
