<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card-group">
            <div class="card p-4">
              <form class="card-body" #loginForm="ngForm" (submit)="login()">
                <h1>Fase 2 spa</h1>
                <p class="text-muted">login</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.username" #username="ngModel" name="username">
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="user.password"  #password="ngModel" name="password">
                </div>
                <div class="row mb-2" *ngIf="isAuthorized == false">
                  <div class="col-lg-12">
                    <span class="text-danger"> <i class="icon-lock"></i> Usuario o contraseña incorrecta</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4" [disabled]="isBusy" ><i *ngIf="isBusy" class="fa fa-spinner fa-pulse fa-fw"></i> Iniciar sesión</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="sub" class="btn btn-link px-0">olvidaste tu contrase&ntilde;a?</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
