<div class="animated fadeIn">
  <div class="card">
    <div class="card-header p-2">
      <div class="row">
        <div class="col-lg-6">
          <h4>Egresos pendientes por pagar</h4>
        </div>
        <div class="col-lg-6">
          <div class="float-right">
            <div class="form-check form-check-inline">
              <input class="form-check-input is-invalid" type="radio"
                id="isNotCompleted"
                name="optionsRadios" [value]="0"
                [(ngModel)]="filters.isPaid" (ngModelChange)="getCatlog()">
              <label class="form-check-label" for="isNotCompleted">Egresos pendientes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input is-valid" type="radio"
                id="isCompleted"
                name="optionsRadios"
                [value]="1"
                [(ngModel)]="filters.isPaid" (ngModelChange)="getCatlog()">
              <label class="form-check-label" for="isCompleted">Egresos pagados</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- List group -->
    <ul class="list-group">
      @for (purchase of purchases; track purchase) {
        <li class="list-group-item p-1 disabled"  style="padding-bottom:0px; margin-bottom: 5px;">
          <div class="card m-0">
            <div class="card-header p-2">
              <small class="text-muted">Registrada por {{  purchase.user?.name }} el día {{ purchase.created_at | date:'dd/MM/yyyy hh:mm' }}</small>
            </div>
            <ul class="list-group">
              @for (_purchase of purchase.purchases; track _purchase) {
                <li class="list-group-item p-1" >
                  <div class="row">
                    @if (_purchase.department) {
                      <div class="col">Departamento: <br/>{{_purchase.department.name}}</div>
                    }
                    @if (_purchase.provider) {
                      <div class="col">Provee: <br/>{{_purchase.provider.business_name}}</div>
                    }
                    @if (_purchase.cat_expense) {
                      <div class="col">Concepto: <br/>{{_purchase.cat_expense.name}}</div>
                    }
                    @if (_purchase.cat_expense) {
                      <div class="col">Tipo gasto: <br/>{{_purchase.cat_expense.name}}</div>
                    }
                    @if (_purchase.pill) {
                      <div class="col">Pastillas: <br/>{{_purchase.pill_count}} {{_purchase.pill.name}}</div>
                    }
                    @if (_purchase.product) {
                      <div class="col">Productos: <br/>{{_purchase.product_count}} {{_purchase.product.name}}</div>
                    }
                    <div class="col">
                      {{_purchase.amount | currency:'MXN ':'symbol':'2.2-4'}}
                      @if (!_purchase.is_paid) {
                        <button class="btn btn-success btn-sm float-right" (click)="pay(_purchase)">Pagar</button>
                      }
                    </div>
                  </div>
                </li>
              }
            </ul>
          </div>
        </li>
      }
    </ul>
    <div class="card-footer">
      <pagination [boundaryLinks]="true" [totalItems]="paginate.total || 0" [maxSize]="9" [itemsPerPage]="filters.perPage"  (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>
