<div class="animated fadeIn">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <h4>Inventario de productos
              <button class="btn btn-sm btn-primary float-right" (click)="add()">Nuevo</button>
            </h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let i of inventory">
              <div class="row">
                  <div class="col-lg-4">{{i.product!.name}}</div>
                  <div class="col-lg-3">Precio: {{i.product!.price | currency:'MXN ':true:'4.2-2'}}</div>
                  <div class="col-lg-3">En stock: {{i.count}}</div>
                  <div class="col-lg-2">
                    <button class="btn btn-sm btn-danger ml-2 float-right" (click)="delete(i)"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-sm btn-default float-right" (click)="update(i)"><i class="fa fa-edit"></i></button>
                  </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal -->
  <div class="modal fade" bsModal #modalProduct="bs-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <form class="modal-dialog" role="document" [formGroup]="formProduct" (ngSubmit)="save()">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">{{(isEdit?'Editar':'Agregar')}} inventario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalProduct.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-8">
              <select
                class="form-control mb-3"
                formControlName="product" >
                <option value="">Choose City</option>
                <option *ngFor="let cmb of cmbProducts$ | async" [ngValue]="cmb.id">
                  {{ cmb.name }}
                </option>
              </select>
            </div>
            <div class="col-lg-4">
              <input type="numero" class="form-control" name="count" formControlName="count"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalProduct.hide()">Cerrar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!formProduct.valid">Guardar</button>
        </div>
        </div>
    </form>
  </div>
