.iziToast.iziToast-color-red {
    background: rgb(219, 61, 72);
    border-color: rgba(219, 61, 72,0.9);
  }
  .iziToast.iziToast-color-orange {
    background: rgb(255, 174, 103);
    border-color: rgba(55, 174, 103,0.9);
  }
  .iziToast.iziToast-color-yellow {
    background: rgb(255, 241, 87);
    border-color: rgba(255, 241, 87,0.9);
  }
  .iziToast.iziToast-color-blue {
    background: rgb(79, 192, 248);
    border-color: rgba(79, 192, 248,0.9);
  }
  .iziToast.iziToast-color-green {
    background: rgb(117, 224, 126);
    border-color: rgba(166,239,184,0.9);
  }
